.servicepage {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}
.buttons button{
    padding: 10px;
    border: 1px solid whitesmoke;
    border-radius: 5px;
}

.buttons{
    margin: 5px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.inputs input{
    padding: 10px;
    border: 1px solid whitesmoke;
    border-radius: 5px;
}

.inputs {
    margin: 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.results{
    margin: 5px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    gap: 10px;
    width: 60%;
    max-width: 1200px;
}

.bike-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px;
    background: black;
}